body {
    background: #5C6BC0;
    color: #FFFFFF;
    font-family: 'Roboto', verdana,sans-serif;
    font-weight:bold;
    margin: 0;
}

header {
    background-color: #283593;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
}

p {
    font-size :120%;
    font-weight: bold;
}

input
{
    font-size:150%;
    font-family: 'Roboto', verdana,sans-serif;
    margin: 10px 4px 4px 4px;
}

.button {
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Roboto', verdana,sans-serif;
    font-size:120%;
    font-weight:bold;
    border-radius: 7px;
    border: 2px solid #FFFFFF;
    margin: 0px 4px 4px 4px;
}

.todo-item {
    position : relative;
}

.todo-item-complete {
    opacity:0.75;
}

.todo-text-complete {
    text-decoration: line-through;
}

#count-label {
    margin-top:20px;
    font-size:150%;
}

.todo-item.ng-enter {
  transition:0.1s linear all;
  opacity:0;
  left:-200px;
}

.todo-item.ng-enter.ng-enter-active {
  opacity:1;
  left:0px;
}

.todo-item.ng-leave {
  transition:0.1s linear all;
  max-height: 80px;
  opacity:1;
  left:0px;
}

.todo-item.ng-leave.ng-leave-active {
  max-height:0px;
  left:200px;
  opacity:0;
}
